@import '../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss';
@import '../../node_modules/react-select-plus/scss/default.scss';

body {
    background: #F2F2F2;
}

.stream input {
    display: block;
}

.top.well {
    background: #2A333E;
    border-radius: 0;
    padding: 10px 10px 5px;
    margin: 0;

    .row {
        margin-top: 0;
    }
}

.Select {
    width: 200px;
    display: inline-block;
}

.twitch-chat {
    width: 310px;
    float: right;
}

.twitch-iframe {
    float: left;
}
